<div>
    <h1>The Simpsons, by the data.</h1>

    <h3>Welcome to The Simpsons, by the data, here we can search episodes of the worlds greatest television show, down to the script. Search by Season, Episodes, and even enjoy our data visualizations. Start below by searching clicking on a season to view episodes that correspond with that it.</h3>

    <div class="buttonsHere">
        <!--Buttons-->
    </div>

    <canvas id="myChart" width="100%" height="90%"></canvas>
    
</div>

<script>
    $(document).ready(function () {
        
        $('#buttonsHere').empty();

        const makeButtons = function(){
            for (var i = 1; i < 26; i++) {
                var a = $('<a>')
                var b = $('<button>');
                a.attr('href', '/season/' + [i]);
                b.text('Season ' + [i]);
                b.appendTo(a);
                
                $('.buttonsHere').append(a);
            }
        } 

        $(document).on('click', 'button', function(){
            console.log($(this).val());
        })

        makeButtons();

        var episodeArray = [];
        function plotConstructor(x, y){
            this.x = x;
            this.y = y;
            episodeArray.push(this);
        }

        {{#each index}}
        var episode{{this.id}} = new plotConstructor({{this.season}}, {{this.imdb_rating}})
        {{/each}}

        console.log()



        var ctx = document.getElementById("myChart").getContext('2d');
            var scatterChart = new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        datasets: [{
                            label: 'Episode Ratings',
                                data: episodeArray
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'linear',
                                position: 'bottom',
                                ticks: {
                                        max: 29,
                                        min: 0,
                                        stepSize: 1
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    max: 10,
                                    min: 4,
                                    stepSize: 1
                                }
                            }]
                        }
                    }
                });
                 

            
    });
</script>
